bokeh
conda
ipykernel
ipython
ipython-genutils
jupyter-client
jupyter-console
jupyterhub
jupyterlab
jupyterlab-server
matplotlib
nose
numpy
pandas
pymc3
scikit-image
scikit-learn
scipy
seaborn
statsmodels
urllib3

